body{
    background-color: #f2f3f7 !important;
}
.navbar .navbar-nav .nav-but{
    padding: 10px;
}
.Smart{
    color: #0196e3;
    border-right: 3px solid #0196e3;
    font-size: 60px;
}
.line{
    padding-top: 300px;
}
.Features{
    padding-top: 140px;
}
.our_features{
    font-family: 'Bellota Text';
    font-size: 4rem;
    line-height: 1.1;
    color: #36187d;
}
.card{
    height: 300px;
    border-radius: 3rem !important;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
    margin-top: 50px !important;
    border: 0px solid white !important;
    background: #f2f3f7 !important;
}

i{
    font-size: 50px !important;
    color: #0196e3 !important;
    text-align: center !important;
    padding-top: 50px !important;
}
.About_company{
    padding-top: 140px;
    padding-bottom: 140px;
}
span{
    font-family: 'Bellota Text';
    font-size: 1.7rem !important;
    line-height: 1.5 !important;
}
#menu{
 color: black;
}
.card1{
    height: auto;
    border-radius: 3rem !important;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
    margin-top: 50px !important;
    background: #f2f3f7;
}
.card2{
    width: 600px;
    height: 300px;
    border-radius: 3rem !important;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
    background-color: #f2f3f7;
}
#img{
    margin-top: 50px;
    margin-left: 40px;
    width: 150px;
    border-radius: 50%;
    height: 150px;
}
.add{
    padding-top: 70px;
    padding-left: 50px;
}
.About{
    padding-top: 100px;
    padding-bottom: 100px;
}

.card3 {
    height: auto;
    border-radius: 3rem !important;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
    margin-top: 50px !important;
    background: #f2f3f7;
}

.arrow-down {
    font-size: 1.4rem !important;
    font-family: 'Moririse2' !important;
    color: #36187d;
    border-radius: 3rem;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 450px;
}

#down {
    margin-top: -30px !important;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .arrow-down {
        margin-left: 0; /* Adjust as needed for smaller screens */
    }
    #down {
        margin-left: 5px; /* Adjust as needed for smaller screens */
    }
}



.card4{
    height: auto;
    border-radius: 3rem !important;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
    margin-top: 50px !important;
    background: #f2f3f7;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px 20px;
}



#img2{
    width: 150px;
    margin: auto;
    background: white;
    height: 150px;
    border-radius: 50%;
    padding: 1rem;
    object-fit: contain;
}

.card5{
    height: auto;
    border-radius: 3rem !important;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
    margin-top: 50px !important;
    background: #f2f3f7;
}

#img3{
    margin-top: 30px;
    margin-left: 40px;
    width: 75px;
    border-radius: 50%;
    height: 75px;
}

.add1{
    padding-top: 30px;
    padding-left: 30px;
}

.card6{
    height: 300px;
    border-radius: 3rem !important;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
    margin-top: 50px !important;
    background: #f2f3f7;
}





